.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
ul {
  display: flex; 
  justify-content: center; 
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
  gap: 24px;
}

li {
  margin: 0 10px;           
}

button {
  margin-left: auto;      
}

img {
  margin-top: 20px;
  width: 140px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 20px;
}
.hero img {
  width: 90%;
  max-width: 100%;
}
.description h1{
  font-size: 5em;
}
.description h1:hover {
  font-size: 5.8em;
  transition: font-size 0.3s ease;
  cursor: pointer;
}
.description p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  margin-top: 20px;
}
.hero img:hover {
  transform: scale(1.10);
  transition: transform 0.3s ease;
  cursor: pointer;
}